@model UGE.Models.DataStructure.MCQ

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MCQ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.ArticleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.ArticleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MCQID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
