@model IEnumerable<UGE.Models.DataStructure.Choice>

@{
    ViewBag.Title = "Choice";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChoiceDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.Hint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChoiceDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Hint)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChoiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChoiceID }, new {  onclick="return confirm('Are you sure?')" })
        </td>
    </tr>
}

</table>
