@model IEnumerable<UGE.Models.DataStructure.Question>

@{
    ViewBag.Title = "Question";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Choice.ChoiceDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCQ.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice.ChoiceDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MCQ.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionID }, new {  onclick="return confirm('Are you sure?')" })
        </td>
    </tr>
}

</table>
